{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div style="margin: auto auto; width:40%; padding:10%; border-radius:10px; text-align:center; margin-top:30px; height:300px">
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-info">Register</button> <a class="btn btn-warning"href="{{ path('app_login') }}">Login</a>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
