{% extends 'base_activity.html.twig' %}
{% block body %}

<div class="row">
<div class="col-sm-12 col-lg-6">
<div class="card-hover-shadow-2x mb-3 card">
<div class="card-header-tab card-header">
<div class="card-header-title font-size-lg text-capitalize font-weight-normal">
<i class="header-icon lnr-database icon-gradient bg-malibu-beach"> </i>create New Activity
</div>


</div>
<form action="{{ path('post_activity') }}" method="post" enctype="multipart/form-data" class="container
" style="padding:10px" >
    <div class="form-group">

      <input type="text" class="form-control" id="title" name="title" placeholder="title">
    </div>
      <div class="form-group">
        
        <input type="date" class="form-control" id="date" onChange=checkCount(this.value) name="date" placeholder="date">
      </div>

       <div class="form-group">
        
        <input type="file" accept="image/*" class="form-control" id="image" name="image">
      </div>
      <div class="form-group">
        
        <select aria-placeholder="select users" name="created_for" class="form-control">
            <option value="0">All</option>
            {% for user in users %}
            <option value='{{user.id}}'>{{user.name}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
            <textarea class="form-control" name="description" cols="5" rows="5"></textarea>
      </div>
  
<div class="d-block text-right card-footer">
<span id="meter">{{ count_activity }} activities have been created for today</span>
<button class="mr-2 btn btn-link btn-sm">Cancel</button>
{% if count_activity < 4 %}
   <button class="btn btn-primary" id="submit">Add Task</button>
{% else %}
    <button class="btn btn-primary disabled">Daily Activity Limit Exceeded </button>
{% endif %}

</form>
</div>
</div>
</div>
<div class="col-sm-12 col-lg-6" style="display:none">
<div class="card-hover-shadow-2x mb-3 card">
<div class="card-header-tab card-header">
<div class="card-header-title font-size-lg text-capitalize font-weight-normal">
<i class="header-icon lnr-printer icon-gradient bg-ripe-malin"> </i>Chat Box
 </div>
<div class="btn-actions-pane-right text-capitalize actions-icon-btn">
<div class="btn-group dropdown">
<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
<i class="pe-7s-menu btn-icon-wrapper"></i>
</button>
<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-right rm-pointers dropdown-menu-shadow dropdown-menu-hover-link dropdown-menu">
<h6 tabindex="-1" class="dropdown-header">Header</h6>
<button type="button" tabindex="0" class="dropdown-item">
<i class="dropdown-icon lnr-inbox"> </i><span>Menus</span>
</button>
<button type="button" tabindex="0" class="dropdown-item">
<i class="dropdown-icon lnr-file-empty"> </i><span>Settings</span>
</button>
<button type="button" tabindex="0" class="dropdown-item">
<i class="dropdown-icon lnr-book"> </i><span>Actions</span>
</button>
<div tabindex="-1" class="dropdown-divider"></div>
<div class="p-3 text-right">
<button class="mr-2 btn-shadow btn-sm btn btn-link">View Details</button>
<button class="mr-2 btn-shadow btn-sm btn btn-primary">Action</button>
</div>
</div>
</div>
</div>
</div>
<div class="scroll-area-lg">
<div class="scrollbar-container ps ps--active-y">
<div class="p-2">
<div class="chat-wrapper p-1">
<div class="chat-box-wrapper">
<div>
<div class="avatar-icon-wrapper mr-1">
<div class="badge badge-bottom btn-shine badge-success badge-dot badge-dot-lg">
</div>
<div class="avatar-icon avatar-icon-lg rounded">
<img src="./2.jpg" alt="">
</div>
</div>
</div>
<div>
<div class="chat-box">But I must explain to you how all this mistaken
idea of denouncing pleasure and praising pain was born and I will
give you a complete account of the system.</div>
<small class="opacity-6">
<i class="fa fa-calendar-alt mr-1"></i>
11:01 AM | Yesterday
</small>
</div>
</div>



{#  #}
</div>
</div>
</div>

</div>

</div>
</div></div>

<script>
// let url = "{{ path('count_activity') }}?date="
// console.log(url)
function checkCount(val){
  document.querySelector("#submit").disabled = true;
    var obj = new XMLHttpRequest();
    let url = "{{ path('count_activity') }}?date="+val
    
        obj.open("GET", url, true);
        obj.send(null);
        obj.onreadystatechange = function() {
            if(obj.readyState == 4){
                let data = JSON.parse(this.responseText)
                console.log(data.total)
                if (data.total >= 4){
                  swal("you've reached the maximum activities for " + val);
                  document.querySelector("#submit").disabled = true;
                }else{
                  document.querySelector("#meter").innerHTML =  `${data.total} activities have been created for ${val}`;
                  document.querySelector("#submit").disabled = false;
                }
                
            }
        }
}

</script>

{% endblock %}