{% extends 'base_activity.html.twig' %}

{% block body %}
     
     <h2>Activities for {{ name }}</h2>
   
    <div class='row'>
    {% for item in user_activities %}
        <div class='col-lg-3' style="height:280px; border:1px solid lightgrey; overflow:auto; border-radius:5px; margin-left:10px; padding:5px; width:350px; margin-top:20px">
        <p><img src="{{asset(item.image_path)}}" style="height:150px; width:100%">
            <p>{{ item.title }}</p>
            <p> {{ item.description }} </p>
            <button class="btn btn-info">{{ item.date }}</button>
        </div>  
    {% endfor %}
        
    </div>
         <div class='' style="margin-top:40px">
        <h2>Global activities</h2>
        <div class='row' >
        
    {% for item in general_activities %}
        <div class='col-lg-3' style="height:280px; border:1px solid lightgrey; overflow:auto; border-radius:5px; margin-left:10px; padding:5px; width:350px; margin-top:20px">
        <p><img src="{{asset(item.image_path)}}" style="height:150px; width:100%">
            <p>{{ item.title }}</p>
            <p> {{ item.description }} </p>
            <button class="btn btn-info">{{ item.date }}</button>
        </div>  
    {% endfor %}
    </div> 
    </div>
   
  
{% endblock %}